:root {
  --primary: #141719;
  --secondary: #fdc2d4;
  --tertiary: #3a2736;
  --primaryFont: "jetbrains-mono";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/** Font **/
@font-face {
  font-family: "bitwise";
  src: url("./fonts/Bitwise-m19x.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "jetbrains-mono";
  src: url("./fonts/JetBrainsMono-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: var(--primary);
  color: var(--secondary);
  font-family: var(--primaryFont);
  font-size: 12px;
}

.app-container {
  background-color: var(--tertiary);
  margin: 20px auto;
  padding: 20px;
  height: 90vh;
  min-height: 700px;
  width: 90vw;
  max-width: 600px;
  border: 3px solid #ff9fbc;
  border-radius: 7px;
}

p {
  line-height: 25px;
}
/* Navbar */
.navbar {
  margin-bottom: 15px;
  max-width: 100%;
}

.navbar > ul {
  display: flex;
  padding: 4px;
}

.navbar > ul > li {
  list-style: none;
  padding-right: 13px;
}

.navbar > ul > li > a {
  color: white;
  font-family: "jetbrains-mono";
  font-size: 14px;
}

.navbar > ul > li > a:hover {
  color: #fdc2d4;
  transition: 0.2s ease;
}

.host {
  font-family: "jetbrains-mono";
  font-size: 12px;
  display: flex;
  overflow: hidden;
}

/**App intro**/

.app-intro-title {
  color: #ffe1e1;
  font-size: 70px;
  font-family: "bitwise";
}

@keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.blinking-underscore {
  font-family: "jetbrains-mono";
  animation: blink 0.5s infinite;
  font-size: 12px;
}

/* Links  */
.home-links {
  display: flex;
  flex-direction: column;
}

.home-links > a {
  font-family: "jetbrains-mono";
  width: fit-content;
  padding: 2px 4px;
  font-size: 12px;
}

.home-links > a:nth-child(1) {
  color: #fdc2d4;
}

.home-links > a:nth-child(1):hover {
  color: #f5a3bb;
  transition: 0.3s;
}

.home-links > a:nth-child(2) {
  color: #b2fff3;
}

.home-links > a:nth-child(2):hover {
  color: #6cccbe;
  transition: 0.3s;
}

.home-links > a:nth-child(3) {
  color: #6881b6;
}

.home-links > a:nth-child(3):hover {
  color: #4868ad;
  transition: 0.3s;
}

.home-links > a:nth-child(4) {
  color: #6feb84;
}

.home-links > a:nth-child(4):hover {
  color: #6feb84;
  transition: 0.3s;
}

.command-line {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

/* Projects */
.projects-list {
  padding: 10px 5px;
  list-style: none;
}

.projects-list > li {
  margin-top: 10px;
}

.projects-list > li > a {
  color: #ffe2ff;
}
.projects-list > li > a:hover {
  color: #fdc2d4;
  transition: 0.2s ease;
}

.other-data {
  list-style: none;
}

.myself-setup,
.myself-os {
  padding: 10px 30px;
}
